<!DOCTYPE html>
<html lang="en">
<head>
     <span style="font-size:18px;">
     </span>
    <span style="font-size:24px;">
        <meta http-equiv="refresh" content="3;URL=http://localhost:8080">
    </span>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="css/register.css">

</head>
<body>
    <div class="container">
        <h1>注册成功</h1>


        
    </div>
</body>

</html>